<div ng-controller="mainController">

 <link rel="stylesheet" href="css/SCGJ_admin.css">

<nav class="navbar">
    <div class="container-fluid">
        <div class="container-fluid">
        <div class="navbar-header navbar-brand">
            <a class="logo">
                <img src="images/SCGJlogo.png" alt="SCGJ logo" width="11%" >
            </a>

			<a class="navbar-right">
			<p class="userName"><b>{{username}}</b></p>
            <img src="images/logout.png" alt="logout" width="6%" >&nbsp;<span ng-click="logout()">Logout</span></a>
        </div>


        </div>
      
    </div>
</nav>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li>
                <a ng-click="page='dashboard'; alpha=true; beta=false; gamma=false" ng-class="{alpha : alpha}">
                    <img src="images/dashboard.png" alt="faq" width="10%">&nbsp;
                    Dashboard
                </a>
            </li>
            <li>
                <a ng-click="page='viewDocuments'; alpha=false; beta=true" ng-class="{beta: beta}">
                    <img src="images/view.png" alt="document" width="10%">&nbsp;
                    View Documents
                </a>
            </li>
            <li>
                <a ng-click="page='generateCredentials'; alpha=false; beta=false; gamma=true" ng-class="{gamma: gamma}">
                    <img src="images/credential.png" alt="faq" width="10%">&nbsp;
                    Generate Credentials
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="container-fluid">

		<div ng-switch on="page">
                <div ng-switch-default>

                    <div ng-include src="'partials/dashboard.html'"></div>
                </div>
                <div ng-switch-when="faq">

                    <div ng-include src="'partials/faq.html'"></div>
                </div>
                <div ng-switch-when="viewDocuments">

                    <div ng-include src="'partials/viewDocuments.html'"></div>
                </div>
                <div ng-switch-when="generateCredentials">

                    <div ng-include src="'partials/generateCredentials.html'"></div>
                </div>
                
            </div>
		
    </div>
</div>

<footer class="page-footer">
    <div class="container-fluid">
        <div class="upperFooter">
            <div class="link-wrapper">
                <a href="http://sscgj.in/about-us/" target="_blank" class="link">About Us</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/operational-standards/" target="_blank" class="link">National Standards</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/affiliation/" target="_blank" class="link">Affiliation</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/publications/" target="_blank" class="link">Publications</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/state-linkages/" target="_blank" class="link">State Linkages</a>
            </div>

        </div>

        <div class="lowerFooter">
            <h5 class="copyright">Copyright &copy 2017-2020 sscgj.in - All Rights Reserved.</h5>
        </div>
    </div>

</footer>
</div>