<div>

 <link rel="stylesheet" href="css/trainingPartner.css">

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">
            <a class="logo">
                <img src="images/SCGJlogo.png" alt="SCGJ logo" width="13%" >
            </a>

			<a class="navbar-right">
            <img src="images/logout.png" alt="logout" width="6%" >&nbsp;<span>Logout</span></a>
        </div>
        
    </div>
</nav>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a ng-click="page='masterSheetImport'">
                    <img src="images/import.png" alt="import" width="10%">&nbsp;
                    Master Sheet Import
                </a>
            </li>
            <li>
                <a ng-click="page='generateReports'">
                    <img src="images/generate.png" alt="import" width="10%">&nbsp;
                    Generate Reports
                </a>
            </li>
            <li>
                <a ng-click="page='uploadDocuments'">
                    <img src="images/upload.png" alt="import" width="10%">&nbsp;
                    Upload Documents
                </a>
            </li>
            <li>
                <a ng-click="page='generateBatchReport'">
                    <img src="images/batch.png" alt="import" width="10%">&nbsp;
                    Generate Batch Report
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="container-fluid">

		<div ng-switch on="page">
                <div ng-switch-default>

                    <div ng-include src="'partials/masterSheetImport.html'"></div>
                </div>
                <div ng-switch-when="generateReports">

                    <div ng-include src="'partials/generateReports.html'"></div>
                </div>
                <div ng-switch-when="uploadDocuments">

                    <div ng-include src="'partials/uploadDocument.html'"></div>
                </div>
                <div ng-switch-when="generateBatchReport">

                    <div ng-include src="'partials/generateBatchReport.html'"></div>
                </div>
                
            </div>
		
    </div>
</div>

<footer class="page-footer">
    <div class="container-fluid">
        <div class="upperFooter">
            <div class="link-wrapper">
                <a href="http://sscgj.in/about-us/" target="_blank" class="link">About Us</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/operational-standards/" target="_blank" class="link">National Standards</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/affiliation/" target="_blank" class="link">Affiliation</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/publications/" target="_blank" class="link">Publications</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/state-linkages/" target="_blank" class="link">State Linkages</a>
            </div>

        </div>

        <div class="lowerFooter">
            <h5 class="copyright">Copyright &copy 2017-2020 sscgj.in - All Rights Reserved.</h5>
        </div>
    </div>

</footer>
</div>