
.PanelOne{
	background: #866561;
}
.PanelTwo{
	background: #EA8B1B;
	
}
.PanelThree{
	background: #019CB7;
}
.PanelFour{
    background: #83BE29;
}

.FourPanels{
	color: white;
	text-align: center;
}

.PanelHeadingTxt{
	font-size: 3.5 rem;
	 margin-top: 1rem;
	 font-size : 5rem;

.FourPanelsTxt{
	    padding : 0.9rem;
	     font-size : 1.2rem;
	     margin-top : -1rem;
}

.pocimg{
	width: 100%;
}

.barOne{
margin bottom: 1rem;
margin-right: 1rem;
}

.barTwo{
	margin-right: 1rem;
}

.map{
	margin-left: 1rem;
}

#PanelOneStatistics{
    COLOR: WHITE;
    line-height: 4rem;
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom : -1 rem;
}

#PanelTwoStatistics{
        COLOR: WHITE;
    line-height: 4rem;
    font-size: 2.2rem;
    font-weight: bold;
    
}

#PanelThreeStatistics{
        COLOR: WHITE;
    line-height: 4rem;
    font-size: 2.2rem;
    font-weight: bold;
}

#PanelFourStatistics{
        COLOR: WHITE;
    line-height: 4rem;
    font-size: 2.2rem;
    font-weight: bold;
}

p{
	margin : 0 0;
}

.marginless{
	margin-top : -1rem;
	padding-top : 0 rem;
}
#container2{
	height: 62rem;
	width: 100%;
}
#container{
	height:30rem;
	width:100%;
}
#container1{
	height:30rem;
	width:100%;
}