
input{
	margin: 5%;
	font-weight: regular;
}
.form-rounded {
border-radius: 7%;
width:109%;
}

.GenerateCredentialdiv{
	background-color:#fbfbfb;
	margin:0%;
}
.firstrow{
	margin:-1%;
}
.formdiv{
	background-color:#ffffff;
	margin:1%;
}
.gencredbuttonclass{
	background-color:#ffffff;
	padding-bottom:3%;
}
.generatedcredentialHeader{
	padding-top: 4%;
	padding-bottom: 1%;
}
.placeHolderFont{
	font-family: Calibri;
	font-size: 95%;
    padding: 0;
    padding-left: 2%;
	
}
#gencredbutton{	
 margin-top:5%;
     margin-left: 2%;
 
}
#Registrationid{
	margin-bottom:0%;
}
#searchbutton{
	margin-top: 3%;
	margin-bottom:2%;
}

.row{
	margin:0%;
	margin-left:-1%;
}

h4{
	color:#8c8686;
	padding-left:2%;
	font-family: Calibri;
}	

.ui-grid-header-cell-primary-focus{
	background-color:#0090af;
	color: white;
	text-align: center;
	font-family: Calibri;
}
.eyeicon
       {
     margin-left: 90%;
     float: right;
     margin-top: -21%;
     position: relative;
     z-index: 2;
       }
  input.ng-invalid {
    border: 1px solid #ccc;
}
.table-details{
	/*height:7rem;*/
	padding:2%
	border-color:#ffffff;
}
#tpname{
	margin-left:0%;
	
}
#password{
    margin-left: -3%;
}
#regnumber{
    margin-left: -2%;
}
#email{
    margin-left: -2%;
}
#TPjobrole{
    margin-left: 0%;
}
#TPskillcouncil{
    margin-left: -2%;
}
#Targetallocated{
    margin-left: -2%;
}
div.style {
	height: 6rem;
}