 .eyeTogglePosition{
    margin-top: -9%;
    margin-right: 2%;
} 
.form-rounded {
border-radius: 7%;
}

.GenerateCredentialdiv{
	background-color:#fbfbfb;
}
span{
	padding: 1%;
}
#success
{
	color: green;
	font-weight: bold;
	 transition-duration: 5s;
}
 .firstrow{
	margin-bottom:1%;
}
.formdiv{
	background-color:#ffffff;
	padding:1%;
}
.gencredbuttonclass{
	padding-bottom:1%;
}
.generatedcredentialHeader{
	padding-top: 4%;
	padding-bottom: 3%;
}
.placeHolderFont{
	font-family: Calibri;
	font-size: 95%;
    padding: 0;
    padding-left: 2%;
	
}

#gencredbutton{	
	position:relative;
 	margin-top:8%;
     left:30%;
 
}
#Registrationid{
	margin-bottom:0%;
}

.row{
	margin-left:0%;
	margin-right:0%;
}

h3{
	color:#8c8686;
	padding-left:1.5%;
	font-family: Calibri;
}	

.ui-grid-header-cell-primary-focus{
	background-color:#0090af;
	color: white;
	text-align: center;
}

  input.ng-invalid {
    border: 1px solid #ccc;
}
#warning
{
	color:Red; font-size:1.2rem
}
.table-details{
	padding:2%
	border-color:#ffffff;
}

div.style {
	height: 6rem;
}
#error{
	color:red;
}
.passwordfont{
	font-size: 100%;
}
.ui-grid-cell-contents{
    text-align: center;
}