
.backgroundImageForLogin{
	 background-image: url("../images/loginbackground.jpg");
	 background-size: cover;
	  height:100vh;
 
   
}
 .form {
     height:55%;
     background-color:#ffffff;
     position: absolute;
     top: 25%;
     width:41%;
     margin-left:57%;
}
 input.ng-invalid {
     border: 1px solid red;
}
 #scgj-logo {
    height: 23%;
    width: 47%;
    display: inline;
}
 #valid-email {
     margin-left:50%;
}
/*=== 4. Main Form ===*/
 .main-login-form {
     position: relative;
}
 .login .form-control {
     border: 0;
     box-shadow: 0 0 0;
     border-radius: 0;
     color: #555555;
     padding: 7px 0;
     height:auto;
     margin-bottom: -4%;
}
 .login .form-control::-webkit-input-placeholder {
     color: #A9A9A9;
}
 .login .username-text {
     padding-right: 20px;
     width:90%;
     border:none;
     outline:none;
     border-bottom: 2px solid #ccc;
}
 .login .password-text {
     padding-right: 20px;
     width:90%;
     border:none;
     outline:none;
     border-bottom: 2px solid #ccc;
}
 .login-button {
     width: 100%;
     background-color:#3279C0;
     color: #ffffff;
     padding: 1.5%;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 12px;
     border-radius:5px;
     border: none;
     margin-top:5%;
}
 .user-icon {
     margin-left:110%;
     margin-bottom:2%;
}
 .password-icon {
     margin-left: 115%;
     margin-bottom:6%;
}
 .valid {
     margin-left:65%;
     color:red;
     font-weight:bold;
}
 #lg-username {
     display:inline;
}
 #nskfdc-logo {
    height: 16%;
    width: 11%;
    display: inline;
    margin-left: 35%;
    margin-top: 1%;
}
 