  .generateReports{
	padding: 1%;
}
	#color{
	background-color:lightgrey;
}

.report_history{
padding: 3%;
	    }
		
		
		#batch-id{
		margin: 2%;}
		
		
		
		
		
		
		.batchidtoenter{
		display:inline-flex;
		}
		.btn1{
		margin:4%;
		}
		
		.btn2{
		margin:4%;
		}
		
		.select_report_dropdown{
		background-color:white
	
		}
		
		
		.ui-grid-header-cell-primary-focus{
		background-color:dodgerblue;
		}
		
		.infogrid{
		height:9%;
		margin-left:2%;
		margin-right:1%;
		}
		
		
		.searchreport{
		height:9%;
		margin-left:2%;
		margin-right:1%;
		margin-bottom:2%;
		}