.heading{
	color: #999;
	font-size: 2.4rem;
	padding:1%;
}
.insertBatchNumber{
	background-color: #ffffff;
	padding:3%;
	margin:1%;	
}
.searchBatchNumberDiv{
	padding:1%;
	margin:1% 0% 1% 0.5%;	
}
.insertBNButton{
	background-color: #19b2cc;
	border-color: #19b2cc;
	color: #ffffff;
}
.gridTable{
	margin-top:1%;
	margin-left:1%;
	margin-right:1%;
}
input{
	border: 1px solid #ccc !important;
}
.ui-grid-header-cell-primary-focus{
	background-color: rgb(0,139,172);
	text-align:center;
}
.ui-grid-header-cell-label{
	color:white;
}
.ui-grid-cell-contents{
    text-align: center;
}
.message1{
	    margin-top: 1rem;
	    font-size:9pt;
}
.success_msg{
	color: green;
}
.error_msg{
	color:red;
}