@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.file {
  visibility: hidden;
  position: absolute;
}

.r2d{
    
     padding: 2rem;
  font-family: Arial;
}
.btn-primary {
    color: #fff;
    background-color: #1d8cea;
    border-color: #1d8cea;
}

#r1c1{
    color: darkgray;
    
}
.select{
    
     box-sizing: border-box;
    box-decoration-break: clone;
    outline: 1;
    padding: 10px;
    width: 100%;
}
#inp {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#drop{
	    padding-right: 4.5rem;
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    height:6.5rem;
}


#r2t1{
    margin-top: 1rem;
    height:4rem;
    font-size:12px;
    }
#r2t2{
    margin-top: 1rem;
    height:4rem;
}
#r2b1{
    
    margin-top: .5rem;
    height:4rem;
}
#r2b2{
    margin-top:.5rem;
    height:4rem;
   
}
.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #00B0F0;
    color: white;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.btn-upload{
    background-color: #4472C4;
}
#d1{
    
    background-color: white;
 margin-top: 1rem;
        height: 2.6rem;
    width: 22.5rem;
}



.btncolor{
background-color: #02B0F0;
    width: 11rem;
    font-size: 1.5rem;
    height: 2.5rem;
    padding:0rem;
}

#first{
	    width: 8rem;
}

#Second{
	width:9rem;
	
}

.background{
background: #fbfbfb;

    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#marginForSearch{
    margin-left: 2rem;
     margin-top: 14px;
    margin-bottom: 15px;
     font-size: 2rem;
}
#marginForUpload{
	font-size: 2rem;
}

.form-rounded {
border-radius: .5rem;
    height: 2.8rem;
    padding:0px;
    
}

.form-roundedOne{
	border-radius: .5rem;
    height: 2.8rem;
}

.paddingrem{
	padding-left: 0px;
}

.abc{
    font-size : 10em;
}

.ui-grid-cell-contents{
	background-color:#e7e6e6;
}

.ui-grid-cell{
	background:#e7e6e6;	
}

.pointer{
	width : 15%;
}


.ui-grid-row{
	background : green;
	background : black;
	
}
.ng-scope{
	/*background : #e7e6e6;*/
}

.table{
	 border-color: #ffffff;
    height : 7rem;
    padding:2%;
}

.ui-grid-header-cell{
	border-color: #ffffff;
}

.ui-grid-header-cell-row{
  text-align: center;
  color:#ffffff;
}

.ui-grid-header-cell-primary-focus{
  text-align: center;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: white;
  background-color: #008AAC;
}

h3{
	color : #767671;
}

.ui-grid-coluiGrid-0004{
	background:#e7e6e6;
}

.ui-grid-coluiGrid-0005{
	background:#e7e6e6;
}

.ui-grid-coluiGrid-0006{
	background:#e7e6e6;
}

.ui-grid-coluiGrid-0007{
	background:#e7e6e6;
}
#upguide{
	font-size: 1rem;
	color:blue;
}

#content {
    min-height: 87vh;
    width: 99%;
}
.ui-grid-header-cell-label{
    font-size: 1.2rem;	
}

.searchDocumentTxt{
	   /* margin-left: 15px; */
}
.placeholderfont{
	font-size:95%;
	color:#8c8c8c;
	text-align: center;
	border-color: #8c8c8c;
}


.ui-grid-render-container-body .ui-grid-header-cell,
.ui-grid-render-container-left .ui-grid-header-cell,
.grid .ui-grid-row,
.grid .ui-grid-cell,
.grid .ui-grid-cell .ui-grid-vertical-bar {
 
  font-size: 11px;
  text-align: center;
  /*line-height: 30px;*/
  
}

.ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #e7e6e6; 
}

#error_msg1{
	color: red;
    margin-top: .5rem;
    margin-right: 5rem;
    font-size: 1.1rem;
    height: 3.3rem;
    width: 20rem;
   
}
#successful{
	color: green;
    margin-top: .5rem;
   
    font-size: 1.1rem;
    height: 3rem;
    width: 5rem;
   
}

#searchBox
{
	font-size: 1.5rem;
	color: red;
}