#or
{
	margin-top: 1%;
    margin-bottom: 1%;
	width: auto;
	}

#enterBatchId{
	border: solid 1px grey;
	width: 120%;
	padding: 1%;
	margin-left: -4%;
     
}

#tpname{
	border: solid 1px grey;
	padding: 1%;
	width: 107%;
	margin-left: -4%;
	    
}
#scgjbtno{
	border: solid 1px grey;
	padding: 1%;
	margin-left: -4%;
       	
}
.background{
	    background-color: #FbFbFb;
	    margin-left: 1%;
}
 #errormessage{
    margin-right: 41%;
    color:red;
}
#formcolor
{
	background-color: #ffffff;
	padding-top: 1%;
	margin-left: 1%;
    margin-right: 5%;
    padding: 1%;
    margin-top: 2%;
}
#searchdocuments{
	color: #767171;
	margin-left: 2%;
	margin-top: 1%;
}
#upload{
	color: #767171;
	margin-top: 3%;
    margin-bottom:0.5%;
	
}
#button{
	color:  #ffffff;
	margin-left: -3%;
}
.table{
	border-color:#ffffff;
	
}
div.ui-grid-header-cell-primary-focus{
	background-color: #0090af;
	color: #ffffff;

}
div.ui-grid-canvas{
	 text-align: center;
	 color: black;
	 
}
#content{
	    background-color: #FbFbFb;
}
#errorMessage{
	color:red;
	font-size:1.5rem;
}
#errorMessageBatch
{
	color:red;
	font-size:1.5rem;	
}
.pointer{
	width:10%;
	cursor:pointer;
}
#error{
	color:red;
}
#success{
	color:green;
}
.ui-grid-cell-contents{
    text-align: center;
}
span{
	padding: 1%;
}