.form-group {
    margin-bottom: 0;
}
#or
{
	margin-top: 0.5;
    margin-bottom: 1%; */
	width: auto;
	}

#enterBatchId{
	border: solid 1px grey;
}

#tpname{
	border: solid 1px grey;
}
#scgjbtno{
	border: solid 1px grey;
}

#formcolor
{
	background-color: #ffffff;
	padding:1.5%;
}
#searchdocuments{
	color: #999;
	font-size: 2.4rem;
	padding:1%;
}
#upload{
	color: #999;
	font-size: 2.4rem;
	padding:1%;
	margin-top:2%;
	
}
#button{
	color:  #ffffff;
	margin-left: -3%;
}

.ui-grid-header-cell-primary-focus{
	background-color: #0090af;
	color: #ffffff;
}
.ui-grid-canvas{
	 text-align: center;
	 color: black;
}
.ui-grid-cell-contents{
    text-align: center;
}
#errorMessage{
	color:red;
	font-size:1.5rem;
	font-weight: bold;
}
#errorMessageBatch
{
	color:red;
	font-size:1.5rem;
	font-weight: bold;	
}
.pointer{
	width:10%;
	cursor:pointer;
}
#error{
	color:red;
	font-weight: bold;
}
#success{
	color:green;
	font-weight: bold;
}
span{
	padding: 0.2%;
}
/* extra */

/*  #errormessage{
    margin-right: 41%;
    color:red;
    font-weight: bold;
} */