<head>
 <link href="css/dashboard.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="dashboardController">
 	<div class="container-fluid marginless">
	
	<div class="row">
		<!-- Panels -->
		<div class="col-md-3">
			<div class="panel panel-default FourPanels PanelOne">
      			<div class=" PanelOne FourPanels PanelHeadingTxt">

      				<p id="PanelOneStatistics">{{ongoingTrainings}}</p>
      			</div>
      			<div class="panel-body PanelOne FourPanelsTxt">Ongoing Trainings</div>
    		</div>
		</div>

		<div class="col-md-3 ">
			<div class="panel panel-default FourPanels PanelTwo ">
      			<div class="PanelTwo FourPanels PanelHeadingTxt" id="PanelTwoStatistics" ng-bind="candidatesTrained">
      			<p id="candidatesTrained">{{candidatesTrained}}</p>
      			</div>
      			<div class="panel-body PanelTwo FourPanelsTxt">Candidates Trained</div>
    		</div>
		</div>

		<div class="col-md-3">
			
			<div class="panel panel-default PanelThree FourPanels">
      			<div class="PanelThree FourPanels PanelHeadingTxt" id="PanelThreeStatistics" ng-bind="trainingPartners" >
      			<p id="trainingPartners">{{trainingPartners}}</p>
      			</div>
      			<div class="panel-body PanelThree FourPanelsTxt ">Training Partners</div>
    		</div>
		</div>
	

		<div class="col-md-3">	
			<div class="panel panel-default PanelFour FourPanels">
      			<div class="PanelFour FourPanels PanelHeadingTxt" id="PanelFourStatistics" ng-bind="upcomingAssesments">
      				<p id="upcomingAssesments">{{upcomingAssesments}}</p>
      			</div>
      			<div class="panel-body PanelFour FourPanelsTxt">Upcoming Assesments</div>
    		</div>
		</div>
	</div>

</div>
</div>
	<div class="row">
		<div class="col-md-6">
			<div id="container"></div>
			<br>
			<div id="container1"></div>
		</div>
		<div class="col-md-6">
		<!-- Indian Map -->
		</div>
		
	</div>
