<head>
  <link href="css/generateCredentials.css" type="text/css" rel="stylesheet">
</head>
<div ng-controller="generateCredentialsController">
  <div class="GenerateCredentialdiv">
    <div>
      <h4>Generate Credentials</h4>
    </div>
    <br>
    <div class="formdiv">
      <form name="gencredform" >
        <div class="row firstrow" >
          <div class="col-sm-3">
            <input type="text" class="form-control form-rounded placeHolderFont" name="TPname" ng-model="TPname" required  placeholder="Enter Training Partner Name" >
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control form-rounded placeHolderFont" name="regnumber" ng-model="regnumber" required placeholder="Enter NSDC Reg. Number" >
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control form-rounded placeHolderFont"  name="email" ng-pattern="emailadd" ng-required="true" autocomplete="off"  ng-model="email" required placeholder="Enter E-mail" >
            <span class="red-text" ng-if="gencredform.email.$error.required && inquiryForm.email.$dirty">Email is a required field</span>
            <span class="red-text" ng-show="gencredform.email.$error.pattern">Invalid Email</span>
          </div>
          <div class="col-sm-3 ">
            <input type="password" class="form-control form-rounded placeHolderFont" id="password"  name="password" ng-minlength="8"  ng-model="password" required placeholder="Enter Password" >
            <span ng-show="gencredform.password.$error.minlength" class="valid">Too Short!</span>
            <div id="eye" class="eyeicon" ng-model="collapsed" ng-click="collapsed=!collapsed"><span class="" ng-class="{'glyphicon glyphicon-eye-open pull-right pan_arrow1': !collapsed, 'glyphicon glyphicon-eye-close pull-right pan_arrow1': collapsed}"></span></div>
           
          </div>
         </div>
    <div class="row" >
    <div class="col-sm-3">
    <input type="text"class="form-control form-rounded placeHolderFont" name="TPjobrole" ng-model="Tpjobrole" required placeholder="Traning Partner Job Role" > 
    </div>
    <div class="col-sm-3">
    <input type="text"class="form-control form-rounded placeHolderFont"  name="TPskillcouncil" ng-model="TPskilcouncil" required placeholder="Traning Partner Skill Council" >
    </div>
    <div class="col-sm-3">
    <input type="text" class="form-control form-rounded placeHolderFont" name="Targetallocated" ng-model="Targetallocated" required placeholder="Target to be allocated" >
    </div>
    </div>
    <div class="gencredbuttonclass">
    <div class="row">
    <div class="col-sm-3 col"></div>
    <div class="col-sm-5" >
    <button type="submit" class="btn btn-info" id="gencredbutton" >Generate Credentials</button>
    </div>
    <div class="col-sm-4 col"></div>
    </div>
    </div>
    </form>
  </div>
  <div>
    <div class="generatedcredentialHeader">
      <h4>Generated Credentials </h4>
    </div>
    <div class="row">
      <div class="col-sm-3" id="Registrationid">
        <input type="text" class="form-control form-rounded placeHolderFont"  placeholder="NSDC Registration Number" >
      </div>
      <div class="col-sm-5">
        <button type="button" class="btn btn-info" id="searchbutton">Search</button>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="table">
      <div ui-grid="details"  class="grid grid-align " ui-grid-auto-resize></div>
    </div>
  </div>
</div>
</div>