<head>
        <link href="css/generateBatchReport.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="generateBatchReportController">
<form name="generateBatchReportForm">
 <div class="container outline" >
 <h3 class="heading">Generate Batch Report</h3>
    	<div class="row"  >
        	<div class="col-md-12">
            	
                <div class="col-md-4">
                	<select ng-model="batchId" class="form-control txt" ng-init=" batchId = option.id" placeholder="Batch Id"  ng-options="x for x in ids" required>
                	<option value=""disabled selected>Batch Id</option>
                	<span id="error_msg"></span>
                	</select>
                </div>
                <div class="col-md-4">
                	<input class="form-control txt" type="text" placeholder="Enter SCGJ Number" name="batchnumber" ng-model="batchnumber" required>
                 	
                 </div>
                 <div class="col-md-4">
                	
                </div>
            </div>
        </div>
    <div class="container innerline">
        <div class="div-center">
        <h5>Inaugral Day Images</h5>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="day1image" placeholder="Upload 2 Images of Day 1" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >	                        
	        					   Browse <input type="file"  file-model="myFile1" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('day1image').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)" id="files">
	       				  </span>
	       				  
            			       				  
                    </div>
                    
             </div>
        </div>
        </div>
        
        <div class="div-center">
        <h5>Mechanized Cleaning : Vacuum cleaner Training</h5>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="day2image" placeholder="Upload 2 Images of Day 2" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >
	                        
	        					   Browse <input type="file"  file-model="myFile2" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('day2image').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)">
	       				  </span>
	       				  
            			       				  
                    </div>
                    
             </div>
        </div>
        </div>
      <div class="div-center">
      <h5>Mopping Technique</h5>
       <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="day3image" placeholder="Upload 2 Images of Day 3" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >
	                        
	        					   Browse <input type="file"  file-model="myFile3" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('day3image').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)">
	       				  </span>
	       				  
            			       				  
                    </div>
                   
             </div>
        </div>
      </div>
        <div class="div-center">
        <h5>Mechanization training on sweeper machine</h5>
        <div class="row boxes" >
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="day4image" placeholder="Upload 2 Images of Day 4" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >
	                        
	        					   Browse <input type="file"  file-model="myFile4" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('day4image').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)">
	       				  </span>
	       				  
            			       				  
                    </div>
                    
             </div>
        </div>
        </div>
       <div class="div-center">
       <h5>Activity on communication skills</h5>
       <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="day5image" placeholder="Upload 2 Images of Day 5" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >
	                        
	        					   Browse <input type="file"  file-model="myFile5" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('day5image').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)">
	       				  </span>
	       				  
            			       				  
                    </div>
                    
             </div>
        </div>
       </div>
        <div class="div-center">
        <h5>Medical Examination</h5>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="medicalExam" placeholder="Upload 2 Images of Medical Examination" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >
	                        
	        					   Browse <input type="file"  file-model="myFile7" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('medicalExam').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)">
	       				  </span>
	       				  
            			       				  
                    </div>
                    
             </div>
        </div>
        </div>
         
        <div class="div-center">
        <h5>Assessment of candidates</h5>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="assessmentimage" placeholder="Upload 2 Images of Assessment" >
                    </div>
                  <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file" >
	                        
	        					   Browse <input type="file"  file-model="myFile6" accept="image/jpeg,image/jpg" multiple onchange="document.getElementById('assessmentimage').value = this.value.split('\\').pop().split('/').pop()" ng-files="getTheFiles($files)">
	       				  </span>
	       				  
            			       				  
                    </div>
                    
             </div>
        </div>
        </div>       
        <div>
        <div ng-show="rolling">
                    <img src="gif/Progress.gif"/>
                    {{generating}}
                </div>
        <span id="Error"></span>
        <span id="Success"></span>
        </div>
        <div>
        <button ng-disabled="generateBatchReportForm.$invalid" class="btn btn-primary boxes1" ng-click="generateBatchReportwithFile()" >Generate Report</button>
        </div>
        
        
        </div>

    </div>


</form>
</div>

