<head>
    <link href="css/generateCredentials.css" type="text/css" rel="stylesheet">
</head>
<div ng-controller="generateCredentialsController">
    <div class="container-fluid GenerateCredentialdiv">
        <div>
            <h3 id="gencred">Generate Credentials</h3>
        </div>
        <br>
        <div class="formdiv">
            <form name="gencredform">
            <span ng-show="credentialErrorMessage" id="error"> User Already Exists </span>
                        <span ng-show="credentialSuccessMessage" id="success">User Credentials Generated Successfully!</span>
                <div class="row firstrow">
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-rounded placeHolderFont" id="tpname" name="trainingPartnerName" ng-model="data.trainingPartnerName" required placeholder="Enter Training Partner Name">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-rounded placeHolderFont" id="regnumber" name="nsdcRegNumber" ng-model="data.nsdcRegNumber" required placeholder="Enter NSDC Reg. Number">
                    </div>
                    <div class="col-sm-3">
                        <input type="email" class="form-control form-rounded placeHolderFont" id="email" name="userEmail"  ng-model="data.userEmail" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="Enter E-mail" required>
                      <span id="warning"  ng-show="gencredform.userEmail.$error.pattern">Enter valid emali</span>
                       </div>
                    <div class="col-sm-3 ">
                       <input type={{inputTypePassword}} class="form-control form-rounded placeHolderFont" id="password" name="password" placeholder="Enter Password" ng-model="data.password" ng-minlength="8" required>
                      <div id="eye" class="icon" ng-model="newcollapsed" ng-click="newcollapsed=!newcollapsed; eyeToggleGenerateCredential()"><span class="eyeTogglePosition" ng-class="{'glyphicon glyphicon-eye-open pull-right pan_arrow1': !newcollapsed, 'glyphicon glyphicon-eye-close pull-right pan_arrow1': newcollapsed}"></span></div>
                       <span id="warning"  ng-show="gencredform.password.$error.minlength">Password should be minimun 8 characters!</span>
                 
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                       <input type="text" class="form-control form-rounded placeHolderFont" id="TPjobrole"  name="jobRole" ng-model="data.jobRole" required placeholder="Training Partner Job Role ">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-rounded placeHolderFont" id="TPskillcouncil"  name="sectorSkillCouncil" ng-model="data.sectorSkillCouncil" required placeholder="Training Partner Skill Council">
                    </div>
                    <div class="col-sm-3">
                       <input type="text" class="form-control form-rounded placeHolderFont" id="Targetallocated" name="targets" ng-model="data.targets" required placeholder="Target to be allocated" ng-pattern="/^[0-9]{1,15}$/" required >
                  	 <span id="warning"  ng-show="gencredform.targets.$error.pattern">Enter only number</span>
                  </div>
                </div>

                <div class="gencredbuttonclass">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                        <button type="submit" class="btn btn-info" id="gencredbutton" ng-click="check()"  ng-disabled="gencredform.$invalid">Generate Credentials</button>
                        </div>
                        <div class="col-sm-4"></div>
                       
                    </div>
                    
                </div>
            </form>
        </div>
        <div>
            <div class="generatedcredentialHeader">
                <h3>Search Generated Credentials </h3>
            </div>
            <div class="row firstrow">
                <div class="col-sm-5" id="Registrationid">
                    <input type="text" class="form-control form-rounded placeHolderFont" ng-model="nsdcRegNumber"placeholder="NSDC Registration Number">
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-info" ng-click="search(nsdcRegNumber)" id="searchbutton">Search</button>
                	<span ng-bind="searchError" id="error"></span>
                </div>
                <div class="col-sm-5">
                </div>
            </div>
        </div>
        <div >
            <div class="table-details">
                <div ui-grid="detailsData" ui-if="detailsData.data.length>0" class="grid grid-align" ui-grid-auto-resize ng-style="getTableHeight()"></div>
            </div>
        </div>
    </div>
</div>