<head>
        <link href="css/generateBatchReport.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="generateBatchReportController">
 <div class="container outline" >
    	<div class="row"  >
        	<div class="col-md-11">
            	<div class="col-md-5">
                	<label><h4>Generate Batch Report</h4></label>
                </div>
                <div class="col-md-3">
                	<select ng-model="batchId" class="form-control txt" ng-init=" batchId = option.id" placeholder="Batch Id"  ng-options="x for x in ids" >
                	<span id="error_msg"></span>
                	</select>
                </div>
                <div class="col-md-4">
                	<input class="form-control txt" type="text" placeholder="Enter SCGJ Number" name="batchnumber" ng-model="batchnumber" >
                 	
                 </div>
            </div>
        </div>
    <div class="container innerline">
        
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  id="elephant" placeholder="Enter Images of Day 1" required>
                    </div>
                    <div class="col-md-4">
	                        <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file" file-model="myFile1">
	       				  </span>
					<!-- <form>
                		<div class="form-group">
                    		<label for="myFileField">Select a file: </label>
                    		<input type="file" demo-file-model="myFile"  class="form-control" id ="myFileField"/>
                		</div>
               			 <button ng-click="uploadFile()" class = "btn btn-primary">Upload File</button>
            		</form> -->
            			       				  
                    </div>
                    
             </div>
        </div>
        
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont" placeholder="Enter Images of Day 2" required>
                    </div>
                    <div class="col-md-4">
	                      <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file">
	       				  </span>
                    </div>
                    
             </div>
        </div>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  placeholder="Enter Images of Day 3" required>
                    </div>
                    <div class="col-md-4">
	                      <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file">
	       				  </span>
                    </div>
                   
             </div>
        </div>
        <div class="row boxes" >
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  placeholder="Enter Images of Day 4" required>
                    </div>
                    <div class="col-md-4">
	                      <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file">
	       				  </span>
                    </div>
                    
             </div>
        </div>
         <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont"  placeholder="Enter Images of Day 5" required>
                    </div>
                    <div class="col-md-4">
	                      <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file">
	       				  </span>
                    </div>
                    
             </div>
        </div>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont" placeholder="Enter Images of Assessment" required>
                    </div>
                    <div class="col-md-4">
	                      <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file">
	       				  </span>
                    </div>
                    
             </div>
        </div>
        <div class="row boxes">
        	<div class="col-md-10">
            		
                	<div class="col-md-5">
                    	<input type="text" class="form-control form-rounded placeholderfont" placeholder="Enter Images of Medical Examinaion" required>
                    </div>
                    <div class="col-md-4">
	                      <span class="btncolor btn btn-default btn-file">
	        					   Browse <input type="file" >
	       				  </span>
                    </div>
                    
             </div>
        </div>
        <br><button class="btn btn-primary boxes1" ng-click="generateBatchReport(batchId,batchnumber)" >Generate Report</button>
        <span id="Error"></span>
        </div>
     <!-- <div class="container">
        <div class="col-md-10">
        	<div class="row">
        		<h4>&nbsp;Search Report</h4>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-12">
            		
                	<div class="col-md-5">
                    	<br><input type="text" class="form-control" placeholder="Enter Batch Id" />
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-primary btncolor1">Search</button>
                    </div>
                    <div class="col-md-3"></div>
             </div>
        </div>
        <div class="table">
		    
		    <div ui-grid="details"  class="grid grid-align properties " ui-grid-auto-resize></div> 
		</div>
       </div> -->
    </div>

</div>