<head>
        <link href="css/generateReportsCSS.css" type="text/css" rel="stylesheet">
</head>

<div ng-controller="reportController">
	<div class="heading">
		<h3>Generate Reports</h3>
	</div>
	<form name="report">
	<div class="row generateReports">
		<div class="col-md-5">
   			<select class="form-control" ng-model="selectReport" class="dropdown">
      			<option value="" disabled selected>Select Report to be Generated</option>
	  			<option value="occupationCertificate" ng-model="report">Occupation Certificate</option>
	 			<option value="minutesOfSelectionCommittee">Minutes of Selection Committee</option>
	 			<option value="attendanceSheet">Attendance Sheet</option>
	  			<option value="NSKFDCSheet">Data Sheet of NSKFDC</option>
      			<option value="SDMSSheet">Data Sheet of SDMS</option>
	  			
  			</select>
  			<span id="error_msg"></span><span id="success_msg"></span>
  		</div>
  		<div class="col-md-3" ng-show="selectReport=='occupationCertificate' || selectReport=='attendanceSheet' || selectReport=='NSKFDCSheet' || selectReport=='SDMSSheet' || selectReport=='minutesOfSelectionCommittee'">	
  			<select ng-model="batchId" class="form-control txt" placeholder="Batch Id"  ng-options="x for x in ids" >
  			<option selected disabled value="">Batch ID</option>
  			</select>
  			
 		</div>
 		
		<div ng-switch="selectReport">
		<div ng-switch-when="occupationCertificate" class="col-md-3">
		  <button type="submit" class="btn btn-info" ng-click="Submit1(batchId)" ng-disabled="report.$invalid">Generate Report</button>
   		</div>
  		<div ng-switch-when="attendanceSheet" class="col-md-3">
    	  <button type="submit" class="btn btn-info" ng-click="Submit2(batchId)" ng-disabled="report.$invalid">Generate Report</button>
   		</div>
   		<div ng-switch-when="NSKFDCSheet" class="col-md-3">
    	  <button type="submit" class="btn btn-info" ng-click="Submit3(batchId)" ng-disabled="report.$invalid">Generate Report</button>
   		</div>
   		<div ng-switch-when="SDMSSheet" class="col-md-3">
    	  <button type="submit" class="btn btn-info" ng-click="Submit4(batchId)" ng-disabled="report.$invalid">Generate Report</button>
   		</div>
   		<div ng-switch-when="minutesOfSelectionCommittee" class="col-md-3">
    	  <button type="submit" class="btn btn-info" ng-click="submitMinutes(batchId)" ng-disabled="report.$invalid">Generate Report</button>
   		</div>
   		<div ng-switch-default class="col-md-3">
			<button type="submit" class="btn btn-info" ng-disabled="report.$invalid">Generate Report</button>
  		</div>
  		</div>
  		
  		
  	</div>
  	</form>
	<div class="auditTable">
		<h3> Audit Table </h3>
	</div> 
	<div class="gridTable">
		<div ui-grid="auditTable" ui-if="auditTable.data.length>0" class="grid grid-align" ui-grid-auto-resize ng-style="getTableHeight()"></div> 
	</div>  
  	
  	
</div>