<head>
    <link href="css/generateCredentials.css" type="text/css" rel="stylesheet">
</head>
<div ng-controller="generateCredentialsController">
    <div class="GenerateCredentialdiv">
        <div>
            <h4 id="gencred">Generate Credentials</h4>
        </div>
        <br>
        <div class="formdiv">
            <form name="gencredform">
                <div class="row firstrow">
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-rounded placeHolderFont" id="tpname" name="trainingPartnerName" ng-model="data.trainingPartnerName" required placeholder="Enter Training Partner Name">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-rounded placeHolderFont" id="regnumber" name="nsdcRegNumber" ng-model="data.nsdcRegNumber" required placeholder="Enter NSDC Reg. Number">
                    </div>
                    <div class="col-sm-3">
                        <input type="email" class="form-control form-rounded placeHolderFont" id="email" name="userEmail"  ng-model="data.userEmail"  placeholder="Enter E-mail" required>
                       </div>
                    <div class="col-sm-3 ">
                        <input type="password" class="form-control form-rounded placeHolderFont" id="password" name="password" ng-model="data.password" required placeholder="Enter Password">

                        <div id="eye" class="eyeicon" ng-model="collapsed" ng-click="collapsed=!collapsed"><span class="" ng-class="{'glyphicon glyphicon-eye-open pull-right pan_arrow1': !collapsed, 'glyphicon glyphicon-eye-close pull-right pan_arrow1': collapsed}"></span></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                       <input type="text" class="form-control form-rounded placeHolderFont" id="TPjobrole"  name="jobRole" ng-model="data.jobRole" required placeholder="Training Partner Job Role ">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="form-control form-rounded placeHolderFont" id="TPskillcouncil"  name="sectorSkillCouncil" ng-model="data.sectorSkillCouncil" required placeholder="Training Partner Skill Council">
                    </div>
                    <div class="col-sm-3">
                       <input type="Number" class="form-control form-rounded placeHolderFont" id="Targetallocated" name="targets" ng-model="data.targets" required placeholder="Target to be allocated" >
                  </div>
                </div>

                <div class="gencredbuttonclass">
                    <div class="row">
                        <div class="col-sm-3 col"></div>
                        <div class="col-sm-5">
                        <span ng-show="credentialErrorMessage" id="error"> User Already Exists </span>
                            <button type="submit" class="btn btn-info" id="gencredbutton" ng-click="check()">Generate Credentials</button>
                        </div>
                        <div class="col-sm-4 col"></div>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <div class="generatedcredentialHeader">
                <h4>Generated Credentials </h4>
            </div>
            <div class="row">
                <div class="col-sm-3" id="Registrationid">
                    <input type="text" class="form-control form-rounded placeHolderFont" ng-model="nsdcRegNumber"placeholder="NSDC Registration Number">
                </div>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-info" ng-click="search(nsdcRegNumber)" id="searchbutton">Search</button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="table-details">
                <div ui-grid="detailsData" class="grid grid-align" ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>