<head xmlns="http://www.w3.org/1999/html">
   <link href="css/masterSheetImport.css" type="text/css" rel="stylesheet">
</head>
<div  ng-controller="importController">
   <div class="row" id="headmargin">
      <div class="col-sm-6" >
         <div class="heading">
            <font size="4">Overall Information</font>
         </div>
      </div>
      <div class="col-sm-6" >
         <div class="col-sm-5" ></div>
         <div class="col-sm-6" >
            <div><button id="button" type="button" class="btn btn-info" ng-click="generateBatchId(); downloadMasterSheet()">Generate Batch ID</button>
            </div>
         </div>
      </div>
   </div>

   <div class="row"  "cointainer-fluid" id="panel" >
      <div class="col-md-3">
         <div class="panel-s panel-default" id="panel-1">
            <div class="panel-body">
               <font size="4.5">{{financialyear}}</font>
            </div>
            <div class="panel_footer"><font size="2.5">Financial Year</font></div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel-s panel-default" id="panel-2">
            <div class="panel-body">
               <font size="4.5">{{totaltargets}}</font>
            </div>
            <div class="panel_footer" id><font size="2.5">Total Target</font></div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel-s panel-default" id="panel-3">
            <div class="panel-body">
               <font size="4.5">{{targetachieved}}</font>
            </div>
            <div class="panel_footer"><font size="2.5">Target Achieved</font></div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="panel-s panel-default" id="panel-4">
            <div class="panel-body">
               <font size="4.5">{{remainingtargets}}</font>
            </div>
            <div class="panel_footer"><font size="2.5">Remaining Target</font></div>
         </div>
      </div>
   </div>
   <!--       text feild section-->
   <form name="pattern" method="post" ng-submit="submitMasterSheet()" onsubmit="return checkforward() || checkforstate()"  >
      <div class="row" "cointainer-fluid" id="style">
         <div class="col-sm-3" >
            <font size="4">Update Existing Batch</font>
         </div>
         <div class="col-sm-3">
            <select  ng-change="enable()" ng-model="batchDetails.value" name="Type" class="state form-control" placeholder="Batch Id"  ng-options="x for x in ids" >
            <option selected disabled value=">Enter Batch ID</option>
                <span id="Error"></span>
            </select>
            
            
         </div>
         <div class="col-sm-3">
                        <select name="Loca" id="Loca" onchange="checkforward()" ng-disabled="batchDetails.value == undefined"  class="state form-control" name="Type"  ng-model="myVar" >
              <option value="none" selected  >Choose Ward Type</option>
               <option value="Single Ward" >Single Ward</option>
               <option value="Multiple Ward">Multiple Ward</option>
            </select>
            
            
         </div>
         <div class="col-sm-3">
            <div ng-if="myVar === 'Single Ward'"  id="general-1" >
               <div >
                  <input type="text" name="type" class=" state" name="Ward Number" required  placeholder="Ward Number" ng-model="wardNumber">
               </div>
            </div>
         </div>
      </div>
      <div class="row" id= "wrapper">
         <div class="col-sm-3" id="div">
            <li><input  ng-disabled="batchDetails.value == undefined" class="state" type="text" name="CenterId" required placeholder="Center Id" id="CenterId" ng-model="batch.centreId" ng-pattern="/^[0-9]{1,15}$/" required />
         <span id="warning"  ng-show="pattern.CenterId.$error.pattern">enter only number</span> </li>
            <li><input ng-disabled="batchDetails.value == undefined" class="state" type="text"  onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="Date of Selection Committee"  ng-model="batch.selectionCommitteeDate
            "></li>
            <li><input ng-disabled="batchDetails.value == undefined" class="state" type="text"  onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="Assessment Date" ng-model="batch.assessmentDate" ></li>
         </div>
         <div class="col-sm-3 margin" id="div" >
            <li>
               <select  required name="State" id="State" onchange="checkforstate()" ng-model="batch.state" ng-disabled="batchDetails.value == undefined"  required class="state form-control" name="Type">
                  <option value=""selected disabled>State</option>
                  <option value="Andhra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                   <option value="Delhi">Delhi</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madhya Pradesh">Madhya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Mizoram">Mizoram</option>
                   <option value="Meghalaya">Meghalaya</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Odisha">Odisha</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttarakhand">Uttarakhand</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="West Bengal">West Bengal</option>
                  <option value="Telangana">Telangana</option>
               </select>
            </li>
            <li><input ng-disabled="batchDetails.value == undefined" ng-model="batch.principalTrainerName" type="text" placeholder="Trainer Name" id="Id6" ></li>
            <li><input ng-disabled="batchDetails.value == undefined" class="state" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="Medical Exam. Date"  ng-model="batch.medicalExamDate"></li>
         </div>
         <div class="col-sm-3" id="div">
            <li><input  ng-disabled="batchDetails.value == undefined" required type="text" placeholder="City" id="Id8" ng-model="batch.centreCity"></li>
            <li><input ng-disabled="batchDetails.value == undefined" class="state" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" ng-model="batch.batchStartDate" placeholder="Batch Start Date"  ></li>
            <li><input ng-disabled="batchDetails.value == undefined"  type="text" placeholder="Employer Name" id="Id10" ng-model="batch.employerName"></li>
         </div>
         <div class="col-sm-3" id="div">
            <li><input ng-disabled="batchDetails.value == undefined" required type="text" placeholder="Municipality" id="Id11" ng-model="batch.municipality"></li>
            <li><input ng-disabled="batchDetails.value == undefined" class="state" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="Batch End Date" ng-model="batch.batchEndDate" ></li>
            <li><input ng-disabled="batchDetails.value == undefined"  type="text" placeholder="Employer Number" name="Employer" ng-model="batch.employerContactNumber" ng-pattern="/^[0-9]{1,15}$/" id="Id13" >
            <span id="warning"  ng-show="pattern.Employer.$error.pattern">enter only number</span></li>
         </div>
      </div>
      <div id="padding">
         <div class="row" >
             <div class="btn-wrapper">
             <span>
                  <input type="text" name="file_name" id="file_name" class="form-control"></span>
                 <span>
                 <button type="button" class="btn btn-primary" ng-disabled="batchDetails.value == undefined">Browse</button></span>
                 <input type="file" id ="uploadSheet" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="document.getElementById('file_name').value = this.value.split('\\').pop()" />


             </div>
             </div>

            </div>
            <div class="row">
               <div class="col-sm-4"></div>
               <div class="col-sm-4">
                  <div id="color" ng-disabled="batchDetails.value == undefined" class="fileUpload btn btn-primary">
                     <div class="col-xs-4">  <span>Submit</span>
                     </div>
                     
                     <input id="uploadBtn" ng-disabled="batchDetails.value == undefined" type="submit"  class="upload" />
                  </div>
               </div>
            </div>
         </div>
      </div>

   </form>
</div>