<head>
  <link href="css/uploadDocumentCSS.css" type="text/css" rel="stylesheet">

</head>
<div ng-app="app">
<div ng-controller="uploadDocumentController">


        <h3 id="marginForUpload">Upload Documents</h3>
      
  
    <div id="drop" class="row">
    <form name="uploadform" id="uploadformid" ng-submit="uploadFile()">
    <div class="formpadding">
      <div id="r2d" class="col-md-3">
        
          <select  class="form-control form-rounded placeholderfont" ng-model="fileType" id="d1" ng-change="changeTypeOfFile()" required>
            <option value=""disabled selected>Select document to be uploaded</option>
            <option value="occupationCertificate">Occupation Certificate</option>
            <option value="minutesOfSelectionCommitteeMeeting">Signed Minutes of Selection Committee</option> 
            <option value="NSKFDCSheet">Data Sheet for NSKFDC</option>
            <option value="SDMSSheet">Data Sheet for SDMS</option>
            <option value="finalBatchReport">Final Batch Report</option>
            <option value="attendanceSheet">Attendance Sheet</option>
          </select>
        
      </div>
      <div id="r2t1" class="col-md-3 paddingUploadDoc" >
       <select ng-click="getBatchId()"   ng-model="batchId"  class="form-control form-rounded placeholderfont "  ng-options="x for x in ids" required >
       <option value=""disabled selected>BatchID</option>
       </select>
       
       
      </div>
       <div id="r2t2" class="col-md-2 paddingUploadDoc" ng-switch="fileType" >
                <div ng-if="fileType === 'finalBatchReport'"  id="general-1" >
               <div >
                   <input type="text" ng-model="batch.scgjBatchNumber" class="form-control form-rounded placeholderfont" id="Second" placeholder="SDMS Batch Number" required>
               </div>
        
         
       
        </div>
      </div>
                <div class="col-md-3 btn-wrapper paddingUploadDoc" id="uploadFileDiv">
                    <div class="form-group">
	             		<span class="col-md-7 paddingRightUpload">
	                  	<input type="text" name="file_name" id="file_name" class="form-control textBoxFile" required></span>
	                 	<span class="col-md-4 paddingUploadDoc">
	                	<button type="button" class="btn btn-info " ng-disabled="uploadform.$invalid">Browse</button></span>
	                 	<input type="file" id="file" accept={{acceptFileType}} class="file"  ng-model=" browse" ng-disabled="uploadform.$invalid" onchange="document.getElementById('file_name').value = this.value.split('\\').pop()" file-model="dataImport.upload" />
	                    <span ng-show="uploadform.fileName.$touched && uploadform.fileName.$invalid">Please Select a .pdf file</span>
                    </div>
                    
                    
                    
                 </div>
    
      			<div>
                    <button type="submit" class="btn-primary btn data-disable" >Upload</button>
                </div>
                <div class="col-md-12">
                <span id="Error"></span>
                <span id="Success"></span>
                </div>
             </div>   
       </form>
    </div>
   
     <!-- heading --> 
        <h3 id="marginForSearch">Search Documents</h3>
        
    <!--  form name-->
    <form name="searchForDocByTp" ng-submit="submitForm()">
      <div class="row background ">
        <!--button & input/dropdown  -->
        <div class="col-md-4">
          <select ng-click="getBatchId()"   ng-model="batchID"  class="form-control form-rounded placeholderfont "  ng-options="x for x in ids" required >
       <option value=""disabled selected>BatchID</option>
       </select>
     
        </div>
        
      
        <div class="col-md-8 searchDocumentTxt">
          <button type="submit" class="btn btn-info btncolor">  
          Search</button>
          <span ng-bind="searchdetailError" id="error"></span>
          <span ng-bind="downloadError" id="error"></span>
        </div>
      </div>
    </form>
    <div class="details-table">
      <!-- grid via angular -->
      
          <div ui-grid="details"  class="grid grid-align " ui-grid-auto-resize ></div>
      </div>
    </div>
  </div>