<head>
  <link href="css/uploadDocumentCSS.css" type="text/css" rel="stylesheet">

</head>
<div ng-app="app">
<div ng-controller="uploadDocumentController">

  <!--  <div id="content" class="container-fluid background">-->
 <div id="content-div" class="container-fluid background">
    <div id="r1" class="row">
      <div  class="col-md-10">
        <h3 id="marginForUpload">Upload Documents</h3>
      </div>
      <div id="r1c2" class="col-md-2">
        <p><a><u id ="upguide">Upload Guidelines</u></a></p>
      </div>
    </div>
    <div id="drop" class="row">
    <form name="uploadform">
      <div id="r2d" class="col-md-3">
        
          <select  class="form-control form-rounded placeholderfont" ng-model="fileType" id="d1" required>
            <option value=""disabled selected>Select document to be uploaded</option>
            <option value="occupationCertificate">Occupation Certificate</option>
            <option value="selectionCommitteeMeeting">Signed Minutes of Selection Committee</option> 
            <option value="NSKFDCSheet">Data Sheet for NSKFDC</option>
            <option value="SDMSSheet">Data Sheet for SDMS</option>
            <option value="finalBatchReport">Final Batch Report</option>
            <option value="attendanceSheet">Attendance Sheet</option>
          </select>
        
      </div>
      <div id="r2t1" class="col-md-2" >
       <select ng-click="getBatchId()"   ng-model="batchId"  class="form-control form-rounded placeholderfont"  ng-options="x for x in ids" required >
       <option value=""disabled selected>BatchID</option>
       </select>
       
       
      </div>
       <div id="r2t2" class="col-md-2" ng-switch="fileType" >
        <div ng-show="fileType=='finalBatchReport'" ng-model="fileType"> 
        
          <input type="text" ng-click="scgj()"  ng-change="enable()" ng-model="scgjBatchNumber" class="form-control form-rounded placeholderfont" id="Second" placeholder="SCGJ Batch Number">
       
        </div>
      </div>
                  <div class="col-md-3 btn-wrapper" id="uploadFileDiv">
                    <div class="form-group">
             <span >
                  <input type="text" name="file_name" id="file_name" class="form-control"></span>
                 <span>
                 <button type="button" class="btn btn-primary" ng-disabled="uploadform.$invalid">Browse</button></span>
                 <input type="file" id="file" accept=".pdf, .xls" class="file"  ng-model=" browse" ng-disabled="uploadform.$invalid" onchange="document.getElementById('file_name').value = this.value.split('\\').pop()" file-model="dataImport.upload" />


             
                    
                    
                        
                        <!-- <div class="input-group col-xs-12">
                            <input type="text" id="fileName" ng-model="fileName" class="form-control input" data-error="Please enter .xls or .pdf file" placeholder="Upload .pdf or .xls File Here" required/>
                            <span class="input-group-btn">
                                        <button class="browse btn btn-primary input" id="browseButton" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
                                    </span>
                        </div> -->
                        <span ng-show="uploadform.fileName.$touched && uploadform.fileName.$invalid">Please Select a .pdf or .xls file</span>
                    </div>
                    </div>
    
       <!-- <div id="r2b1" class="col-md-1 btn btn-default btn-file">
        <input type="file" name="file" id="file" class="inputfile " ng-model=" browse" ng-disabled="uploadform.$invalid" />
		<label for="file">Browse</label> 
      </div> -->
      <div class="col-md-2" id="uploadButtonDiv">
                    <button type="submit" class="form-control btn btn-info btn data-disable" id="uploadButton" ng-click="uploadFile()">Upload</button>
                </div>
       </form>
    </div>
   
    <div class="row">
     <!-- heading --> 
      <div class="col-md-12 paddingrem">
        <h3 id="marginForSearch">Search Documents</h3>
      </div>
    </div>
    <!--  form name-->
    <form name="searchForDocByTp">
      <div class="row background ">
        <!--button & input/dropdown  -->
        <div class="col-md-4 col-sm-4">
          <input type="text" class="form-control form-roundedOne placeholderfont " placeholder="Enter Batch ID" name="batchID" ng-model="batchID" >
     <span id="searchBox"></span>
     
        </div>
        <div class="col-md-2 col-sm-4 searchDocumentTxt">
          <button type="submit" class="btn btn-primary btncolor" ng-click="submitForm()">  
          Search</button>
          <span ng-bind="searchdetailError" id="error"></span>
        </div>
      </div>
    </form>
    <div class="row">
      <!-- grid via angular -->
      <div class="col-md-12">
        <div class="table">
          <div ui-grid="details"  class="grid grid-align grid-small " ui-grid-auto-resize ></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>