<head>
  <link href="css/uploadDocumentCSS.css" type="text/css" rel="stylesheet">

</head>
<div ng-app="app">
<div ng-controller="uploadDocumentController">
  <div id="content" class="container-fluid background">
    <div id="r1" class="row">
      <div  class="col-md-10">
        <h3 id="marginForUpload">Upload Documents</h3>
      </div>
      <div id="r1c2" class="col-md-2">
        <p><a><u id ="upguide">Upload Guidelines</u></a></p>
      </div>
    </div>
    <div id="drop" class="row">
      <div id="r2d" class="col-md-5">
        <form >
          <select  class="form-control form-rounded placeholderfont" ng-model="myVar" id="d1" required>
            <option value=""disabled selected>Select document to be uploaded</option>
            <option value="oc">Occupation Certificate</option>
            <option value="msc">Signed Minutes of Selection Committee</option> 
            <option value="dsnsk">Data Sheet forNSKFDC</option>
            <option value="dssdms">Data Sheet for SDMS</option>
            <option value="fbr">Final Batch Report</option>
            <option value="as">Attendance Sheet</option>
          </select>
        </form>
      </div>
      <div id="r2t1" class="col-md-2" >
       <select ng-click="getBatchId()" ng-change="enable()"  ng-model="myVar2"  class="form-control form-rounded placeholderfont"  ng-options="x for x in ids" required >
       <option value=""disabled selected>BatchID	</option>
       </select>
       <span id="error_msg1"></span>
      </div>
      <div id="r2t2" class="col-md-2" ng-switch="myVar" >
        <div ng-show="myVar=='fbr'"> 
        
          <input type="text" ng-click="scgj()"  ng-change="enable()" ng-model="myVar3" class="form-control form-rounded placeholderfont" id="Second" placeholder="SCGJ Batch ID" required>
        <span id="error_msg2"></span>
        </div>
      </div>
      <div id="r2b1" class="col-md-2">
        <span class="btn btn-default btn-file" ng-model=" browse"  >
        Browse <input type="file">
        </span>
      </div>
      <div id="r2b2" class="col-md-1">
      
        <button type="submit" class="btn btn-primary btn-upload" ng-click="submitForm1()" >Upload</button>
      </div>
    </div>
   
    <div class="row">
      <!-- heading -->
      <div class="col-md-12 paddingrem">
        <h3 id="marginForSearch">Search Documents</h3>
      </div>
    </div>
    <!-- form name -->
    <form name="searchForDocByTp">
      <div class="row background ">
        <!-- button & input/dropdown -->
        <div class="col-md-4 col-sm-4">
          <input type="text" class="form-control form-roundedOne placeholderfont " placeholder="Enter Batch ID" name="batchID" ng-model="batchID">
          <!-- NOT SURE ABOUT DOWN -->
          <!--  <span style="color:red" ng-show="searchForDocByTp.formData.batchID.$touched">
            <span ng-show="searchForDocByTp.batchID.$error.required">Invalid Batch ID.</span>
            </span> -->
        </div>
        <div class="col-md-2 col-sm-4 searchDocumentTxt">
          <button type="submit" class="btn btn-primary btncolor" ng-click="submitForm()">  
          Search</button>
        </div>
      </div>
    </form>
    <div class="row">
      <!-- grid via angular -->
      <div class="col-md-12">
        <div class="table">
          <div ui-grid="details"  class="grid grid-align grid-small " ui-grid-auto-resize ></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>