<head>
<link href="css/viewDocument.css" type="text/css" rel="stylesheet">
</head>
<!-- main module div start here -->
<div ng-controller="viewDocumentController">
	<!-- container div -->

	<div class="container-fluid">
		<div>
			<h3 id="searchdocuments">Search Documents</h3>
		</div>
		<!-- form div -->

		<div class="row " id="formcolor">
			<form class="form-group " ng-submit="searchDocuments()">
				<div class="col-sm-4">
					<input type="text" id="tpname" type="text" class="form-control"
						placeholder="Enter Training Partner Name" ng-model="tpName"
						required> <span id="errorMessage"></span>
				</div>

				<div class="col-sm-2 ">
					<input type="number" id="enterBatchId" type="text"
						class="form-control" placeholder="Enter Batch ID"
						ng-model="batchId" ng-disabled="scgjBtNumber">
				</div>

				<div id="or" class="col-sm-1">or</div>

				<div class="col-sm-3">
					<input type="number" id="scgjbtno" type="text" class="form-control"
						placeholder="SCGJ Batch Number" ng-model="scgjBtNumber"
						ng-disabled="batchId">
				</div>

				<div class="col-sm-2">
					<button type="submit" class="btn btn-info" id="button">Search</button>
					<span ng-bind="searchError" id="error"></span>
				</div>

				<span ng-bind="errorMessageBatch" id="error"></span>




			</form>
		</div>
		<!-- form div end here -->
		<div>
			<h3 id="upload">Uploaded Documents</h3>
		</div>
		<!-- ui-grid start here -->

		<div class=table>
			<span ng-bind="zipError" id="error"></span><span ng-bind="zipSuccess" id="success"></span>
			<div ui-grid="uploadedDocument" ui-if="uploadedDocument.data.length>0" class="grid grid-align" ui-grid-auto-resize ng-style="getTableHeight()"></div>

		</div>



	</div>
</div>