<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCGJ</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="css/SCGJ_admin.css">
</head>
<body>

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand">
            <a >
                <img src="images/SCGJlogo.png" alt="SCGJ logo" width="10%" >
            </a>


        </div>
        <a class="navbar-right">
            <img src="images/logout.png" alt="logout" width="6%" >&nbsp;<span>Logout</span></a>
    </div>
</nav>

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-briefcase"></i>
                    FAQ
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-duplicate"></i>
                    View Documents
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-link"></i>
                    Generate Credentials
                </a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content" class="container-fluid">

    </div>
</div>
</div>
<footer class="page-footer">
    <div class="container-fluid">
        <div class="upperFooter">
            <div class="link-wrapper">
                <a href="http://sscgj.in/about-us/" target="_blank" class="link">About Us</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/operational-standards/" target="_blank" class="link">National Standards</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/affiliation/" target="_blank" class="link">Affiliation</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/publications/" target="_blank" class="link">Publications</a><span class="vert-bars"> | </span>
                <a href="http://sscgj.in/state-linkages/" target="_blank" class="link">State Linkages</a>
            </div>

        </div>

        <div class="lowerFooter">
            <h5 class="copyright">Copyright &copy 2017-2020 sscgj.in - All Rights Reserved.</h5>
        </div>
    </div>

</footer>
</body>
</html>


</body>
</html>